# More Querying

## The WHERE Clause

One of the most important parts of any search is to narrow down results to those needed by the users. We want to get the most restrictive results, as that will be the most helpful to us. Let's say we had a database called *users* and we wanted to find all *usernames* that matched a given string (i.e. username). We would use this query:

In [ ]:
SELECT *\
FROM users\
WHERE username = 'username';

The WHERE statement chooses all queries that match a given condition, in this case if there exists a *username* that is 'username'. Please do note that in order to avoid syntax errors, wrap the string to be matched in quotes.

## The GROUP BY Clause

After obtaining the necessary results, it might be necessary to order said results. Thus, the GROUP BY clause exists. Say we wanted to order *usernames* in our *users* database alphabetically. We would use the GROUP BY clause for this.

In [ ]:
SELECT *\
FROM users\
GROUP BY username;

We could also reverse, descending order.

In [ ]:
SELECT *\
FROM users\
GROUP BY username DESC;

The GROUP BY statement will allow us to sort data however we want. We can order by any column in the database and do ascending or descending sorts.

## INTO OUTFILE

The INTO OUTFILE clause is useful for outputting to a text file. It can be used in this method:

In [ ]:
SELECT *\
FROM users\
INTO OUTFILE 'data.txt';

This will output all the columns and data within *users* into the file called data.txt in the current running directory.

# Time to query with Python!

### Some Setup stuff first

Before we can query with python, we have to set up a database. I'll show you how to make your own database later, but for now, copy the example below and paste it into your mySQL workbench and execute them.

In [ ]:
CREATE TABLE `users` (
    `id` int(11) NOT NULL AUTO_INCREMENT,
    `email` varchar(255) COLLATE utf8_bin NOT NULL,
    `password` varchar(255) COLLATE utf8_bin NOT NULL,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
AUTO_INCREMENT=1 ;

Next, we're going to insert some sample data. I'll show you how to do that in a later lesson as well. For now, just copy and paste.

In [ ]:
INSERT INTO users (id, email, password) VALUES ("1","test@test.com", "1337");

In [ ]:
INSERT INTO users (id, email, password) VALUES ("2","tester@tester.com","PogChamp");

Now print out all the data in the database this way:

In [ ]:
SELECT * FROM users;

This should be your result that displays in console:

In [ ]:
1	test@test.com	1337
2	tester@tester.com	PogChamp

Now pull up whatever IDE you use for python (I user Atom), and recall the code from the first getting started lesson.

In [ ]:
import keys
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
connection = pymysql.connect(host='localhost',
                             user='copperstick6',
                             password=keys.sqlKey(),
                             db= "sys",
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

Please check where you created your database. In my case, I created it in the 'sys' location. Check where it is with the following snippet of code. Type it into mySQL workbench:

In [ ]:
SELECT DATABASE(), USER(), VERSION();

Now we can continue. We will make our first query! Don't forget to setup the connection.

In [ ]:
import keys
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
connection = pymysql.connect(host='localhost',
                             user='copperstick6',
                             password=keys.sqlKey(),
                             db= "menu",
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

with connection.cursor() as cursor:
    sql = "SELECT * FROM users"
    cursor.execute(sql)
    result = cursor.fetchall()
    for record in result:
        print("id: " + str(record['id']) + " email: " + str(record['email']) + " password: " + str(record['password']))

connection.close()

The following should be your output:

In [ ]:
id: 1 email: test@test.com password: 1337
id: 2 email: tester@tester.com password: PogChamp

### Breakdown